includes:
    - phpstan-baseline.neon
parameters:
    level: max
    strictRules:
        allRules: true
        disallowedLooseComparison: false
        dynamicCallOnStaticMethod: false
        strictFunctionCalls: false
    paths:
        - app
        - tests
    parallel:
        jobSize: 8
        maximumNumberOfProcesses: 8
